.accordion--item{
    background-color: white;
    transition: 0.25s background-color;
}

.active{
    background-color: #f2f8fe;
}

.accordion--content{
    transition: 0.5s max-height, 0.5s margin;
}

.accordion--content.active{
    max-height: 2rem;
    margin: 1rem 0;
}

.icon--container{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    z-index: 2;
    border-radius: 39px;
    transform: translateX(-3rem) translateY(0.25rem);
    padding: 0.5rem;
    transition: background-color 0.5s, box-shadow 0.5;
}

.icon--container.active{
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.stroke--one,
.stroke--two{
    position: relative;
    content: '';
    z-index: 1;
    transition: 0.5s all;
}

.stroke--one{
    width: 2px;
    height: 12px;
    border-radius: 3px;
    background-color: #000;
    transform: translateY(calc(-8px / 2 - 1.5px)) translateX(-1px) rotate(0deg);
}

.stroke--one.active{
    width: 2px;
    height: 12px;
    border-radius: 3px;
    transform: translateY(calc(-8px / 2 - 1.5px)) translateX(-1px) rotate(90deg);
}

/* translateY(calc(-17.8px))  */
.stroke--two{
    width: 2px;
    height: 12px;
    border-radius: 3px;
    background-color: #000;
    transform: translateY(calc(-32px / 2 - 1.5px))  translatex(-1px) rotate(90deg);
}